* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 425px;
    padding: 10px;
}

button {
    border-radius: 20px;
    height: auto;
    padding: 12px;
}

button.blu-notte {
    background-color: rgb(0, 0, 67);
}

.scritta-bianca {
    color: white;
}

button.blu-chiaro {
    background-color: #7289da;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#menu {
    
    gap: 50px;
    display: flex;
    align-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

#hero {
    text-align: center;
    padding: 100px;
    width: 60%;
    margin: 0 auto;
    color: white;
    min-height: 200px;
}

.stacco-sotto {
    margin-bottom: 10px;
}



/* regole per il contenuto principale */

/* prima sezione */
.section-color {
    width: 40%;
    font-size: 26px;
    
 }

 .section-color > h2 {
    margin-bottom: 15px;
 }

 .immaginetta {
    width: 58%;
    
}

.flex-section {
    padding: 70px;
    width: 80%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;

    background-color: rgb(255, 255, 255);
    min-height: 450px;
}


/* seconda section */
.flex-section-second {
    padding: 70px;
    width: 80%;
    margin: 0 auto;


    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

    background-color: #f6f6f6;
    min-height: 450px;
} 

/* quarta section */
.four-section {
    text-align: center;
    background-color: #f6f6f6 ;
    width: 80%;
    margin: 0 auto;
    padding: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}


/* regole footer */
.color-title {
    color: #7289da;
}

label > img {
    width: 20px;
}

select {
    margin-top: 10px;
}
.bloc {
    display: block;
    color: white;
    line-height: 30px;
}

h4 {
    color: #7289da;
}

.border-bottom {
    border-bottom: 2px solid gray;
    padding: 15px;
}

.flex-footer {
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
}

footer {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
    

.social {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
/* regole debug */

/* header {
    min-height: 425px;
    /* background-color: violet;
    border: solid 3px black; */
    /* padding: 10px;
} */ 

nav {
    min-height: 40px;
    /* background-color: orange; */
}

/* #hero {
    min-height: 200px;
    /* background-color: aquamarine; */
/* } */

/* .debug {
    
    /* min-height: 450px; */
    /* border: solid 3px red; */
/* } */




footer {
    min-height: 300px;
    background-color: #23272a;



    /* display: flex;
    justify-content: space-around; */
}


.footer {
    display: flex;
    justify-content: space-around;
}



.sfondo {
    width: 100%;
    background-color: #f6f6f6;
}


.contenitore-footer {
    width: 80%;
    margin: 0 auto;
    background-color: #23272a;
}